{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./",
    "paths": {
      "@/src": ["./src"],
      "@/src/*": ["./src/*"],
    }
  },
  "module": {
    "type": "es6"
  },
  "env": {
    "targets": [
      "defaults",
      "not ie 11",
      "maintained node versions and not node < 16"
    ]
  }
}
