{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./",
    "paths": {
      "@/src": ["./src"],
      "@/src/*": ["./src/*"]
    }
  },
  "module": {
    "type": "es6"
  }
}
